:root {
  --body-color: #f4f4f4;
  --dashboard-color: #ffffff;
  --text-color: #222;
  --card-bg: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --border-color: #ddd;
  --navbar-bg: rgba(51,45,45,1);
  --hover-shadow: rgba(0, 0, 0, 0.658) 5px 25px 50px -12px;
  --navbarlinkcolor: rgba(255, 255, 255, 0.55);

  /* Arama butonu ve giriş kutusu */
  --search-toggle-color: rgba(255, 255, 255, 0.55);
  --search-input-bg: rgba(255, 255, 255, 0.2);
  --search-input-text: #222;
}

      .darkmode {
        --body-color: #0d0d0d;
        --dashboard-color: rgba(51, 45, 45, 1);
        --text-color: rgba(255, 255, 255, 0.766);
        --card-bg:  #000000;
        --card-shadow: rgba(255, 255, 255, 0.1);
        --primary-color: #c28d41;
        --secondary-color: #a0a0a0;
        --border-color: #333;
        --navbar-bg: rgba(255, 255, 255, 0.863); 
        --hover-shadow: rgba(200, 197, 197, 0.363) 5px 25px 50px -12px;
        --navbarlinkcolor: rgba(0, 0, 0, 0.65);

        /* Arama butonu ve giriş kutusu */
        --search-toggle-color: rgba(155, 150, 150, 0.98);
        --search-input-bg: #bcbaba;
        --search-input-text: #ffffff;
        --mdb--bg-opacity: 1;
        --background-color: rgba(51 , 45, 45, var(--mdb--bg-opacity));
      }

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: var(--navbarlinkcolor);
      }

      body{
        font-family: Arial, sans-serif;
        background-color: var(--body-color);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /*NAVBAR*/
      /*dropdown-pop */
      .dropdown-toogle{
        position: relative;
      }

      .dropdown-menu{
        display: none;
        position: absolute; 
        margin: 0px; 
        list-style-type: none;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        min-width: 125px;
        z-index: 10;
        padding-left: 0px;
      }

      .dropdown-item{
        display: block;
        color: rgba(0, 0, 0, 0.649);
        padding: 0.9rem 1rem;
        word-wrap: break-word;
        text-align: start;
        font-size: 0.85rem;
        width: auto;
      }

      .dropdown-item:hover{
        background-color: rgba(0, 0, 0, 0.062)
      }

      .show{
        display: block;
        background-color: var(--card-bg);
        box-shadow: var(--card-shadow);
      } 

      .dropdown-menu.right-overflow {
        left: auto;
        right: 4em;
      }

      .left-overflow{
        left: 40px;
      }
      
      .dropdown-menu li{
        width: 100%;
        overflow: hidden;
      }
      /*dropdown-pop */
      
      /* nav styles */
      .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 0px;
        background-color: var(--navbar-bg);
      }
      
      .logo {
        font-size: 1.2rem;
        color: var(--card-bg);
        padding-left: 20px;
      }
      
      .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center; /* Yatayda ortalar */
        justify-content: center; /* Dikeyde ortalar */
      }
      
      .hamburger .line {
        display: block;
        width: 20px;
        height: 4px;
        margin-bottom: 3px;
        background-color: var(--navbarlinkcolor);
      }
      
      .nav__link {
        position: fixed;
        width: 100%;
        top: 5.3rem;
        left: 0;
        background-color: var(--navbar-bg);
        z-index: 10;
      }
      
      .nav__link a {
        display: block;
        text-align: center;
        padding: 10px 0;
      }
      
      .nav__link a:hover {
        background-color: var(--search-toggle-color);
      }

      .d-flex{
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .container-fluid{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 1rem;
        align-items: center;
      }
        /*search-bar */
        .search-container {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 20px;
            width: fit-content;
        }

        .search-toggle {
            background: none;
            border: none;
            color: var(--search-toggle-color);
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s;
        }

        .search-input {
            width: 0;
            opacity: 0;
            border: none;
            background: var(--search-input-bg);
            color: var(--dashboard-color);
            padding: 5px 10px;
            border-radius: 20px;
            outline: none;
            transition: width 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
            font-size: 14px;
        }

        /* Butona tıklanınca açılma efekti */
        .search-container.active .search-input {
            width: 15vw;
            opacity: 1;
            padding: 5px 15px;
        }

        .logo-img{
          width: 100px;
          height: 30px;
          object-fit: contain;
        }

            /* Küçük ekranlarda daha dar */
        @media (max-width: 992px) {
          .search-container.active .search-input {
              width: 24vw;    
          }
        }


        @media (max-width: 601px) {
          .search-container.active .search-input {
              min-width: 80px;
              width: 45vw;
          }
        }
        /*search-bar */

        /*theme-switch */
        #theme-switch{
            height: 30px;
            width: 30px;
            padding: 0;
            border-radius: 50%;
            background-color: var(--base-variant);
            display: flex;
            justify-content: center;
            align-items: center;
            order:-1;
          }

          #theme-switch svg{
            fill: var(--primary-color);
          }
          #theme-switch svg:last-child{
            display: none;
          }
          .darkmode #theme-switch svg:first-child{
            display: none;
          }
          .darkmode #theme-switch svg:last-child{
            display: block;
          }
        /*theme-switch */

        /*BİLDİRİM */
        .notification {
          position: relative;
        }

        .icon svg {
          cursor: pointer;
          fill: var(--search-toggle-color);
        }
          
        .badge {
          position: absolute;
          top: -2px;
          right: -2px;
          background: rgb(220, 76, 100);
          color: white;
          font-size: 8px;
          font-weight: 600;
          padding: 3px 6px;
          border-radius: 50%;
        }
        /*BİLDİRİM */

        /*AVATAR*/
        .profile-pic{
          border-radius: 50%;
          vertical-align: middle;
          height: 25px;
          width: 25px;
          overflow: clip;
          overflow-clip-margin: content-box;
        }

      @media screen and (min-width: 1160px) and (max-width: 1260px) {
        .nav__link a {
          display: inline-block;
          padding: 10px 10px;
          word-wrap: break-word;
          font-size: 0.7rem;/*1134 ile 993 px arası genişlikte değişen font-size*/
          width: calc(50px + (8 * ((125vw - 993px) / 170)));  
        }
      }

      
      @media screen and (min-width: 600px) and (max-width: 1160px) {
          .nav__link a {
          display: inline-block;
          padding: 10px 10px;
          word-wrap: break-word;
          font-size: 0.7rem;/*1134 ile 993 px arası genişlikte değişen font-size*/
          width: calc(50px + (8 * ((125vw - 993px) / 170)));
        }
      }

      @media screen and (min-width: 600px) {
        .nav__link {
          display: flex;
          position: static;
          background: none;
          justify-content: space-around;
          align-items: center;
          width: 100%;
        }
      
        .nav__link a {
          display: inline-block;
          padding: 10px 10px;
          word-wrap: break-word;
        }
      
        .hamburger {
          display: none;
        }

        .container-fluid{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-left: 1rem;
          margin-right: 3rem;
        }   

        .left-links{
          height: 100%;
          display: flex;
          justify-content: space-between;
        }

        .d-flex{
          gap: 1.5rem;
        }

        .search-container{
          margin-right: 1.5rem;
        }

      }

      @media screen and (max-width: 601px){
          
        .hide {
          display: none !important;
        }

        .nav__link{
          top: 7.85rem;
        }

        .search-container{
          width: 100%;
          order: -1;
          align-items: center;
          justify-content: center;
        }    

        .container-fluid{
          margin-right: 0 !important;
          flex-wrap: wrap;
          gap: 5px;

        }

        .nav div.d-flex{
            order: 3;
            flex: 1 1 ; 
            justify-content: space-around !important;
        }
        
        .container-fluid .hamburger {
            order: 2;
            width: 25% !important;
            
        }

        .dropdown-menu.right-overflow{
          right: 8vw;
        }
        
      }
  
  @media screen and (min-width: 601px) and (max-width: 992px) {
    .container-fluid{
      padding: 0 1.5rem;
      margin: 0 1.5rem;
    }

    .nav__link {
        flex-direction: column;
        position: absolute;
        top: 5.9rem;
        left: 0;
        width: 100%;
        background-color: var(--navbar-bg);
    }

    .left-links{
      display: flex;
      flex-direction: column;
    }

    .nav__link a {
        padding: 10px;
        text-align: center;
    }

    .nav__link a, .left-links{
      width: 100%;
    }

    .hide {
      display: none !important;
    }

    .hamburger {
        display: block; /* Mobil menü simgesi görünür olacak */
        padding: 0 20px;
        order: 4;
    }

    .d-flex{
      gap:7.5vw;
      width: fit-content;
    }

    .right-overflow{
      right: auto !important;
    }

  }

    @-webkit-keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }


    .fade-in {
      -webkit-animation: fade-in 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: fade-in 800ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
      /*NAVBAR*/